<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <div class="grid grid-flow-col gap-2 mb-8">
            <form [formGroup]="dateForm" (ngSubmit)="filter()">
                <div class="grid grid-cols-6 gap-2">
                    <mat-form-field>
                        <input matInput [matDatepicker]="start" formControlName="start">
                        <mat-datepicker-toggle matIconSuffix [for]="start"></mat-datepicker-toggle>
                        <mat-datepicker #start></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput [matDatepicker]="end" formControlName="end">
                        <mat-datepicker-toggle matIconSuffix [for]="end"></mat-datepicker-toggle>
                        <mat-datepicker #end></mat-datepicker>
                    </mat-form-field>

                    <button type="submit" class="mat-elevation-z0 mt-1.5" mat-mini-fab color="primary">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </form>
        </div>
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="FACTURES">
                <div class="flex justify-between">
                    <mat-form-field class="example-form-field w-1/5">
                        <input matInput type="text" placeholder="Recherche..."
                               [(ngModel)]="search"
                               (ngModelChange)="this.searchUpdate.next($event)"
                               name="search"
                        >
                        <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="reset()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-flat-button color="primary" (click)="navigateToAddBill()">Ajout facture</button>
                </div>

                <div class="example-container mat-elevation-z8 mt-4">
                    <div class="example-loading-shade"
                         *ngIf="isLoadingResults || isRateLimitReached">
                        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                    </div>

                    <div class="example-table-container">
                        <table mat-table [dataSource]="data" class="example-table">

                            <ng-container matColumnDef="id">
                                <th matSort mat-header-cell *matHeaderCellDef>N°</th>
                                <td mat-cell *matCellDef="let row" (click)="navigateToDetail(row.id)" class="cursor-pointer text-blue-400">{{row.id}}</td>
                            </ng-container>

                            <ng-container matColumnDef="contact">
                                <th matSort mat-header-cell *matHeaderCellDef>Contact</th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.Vendor ? row.Vendor.name : (row.Contact ? row.Contact.name : '') }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="category">
                                <th matSort mat-header-cell *matHeaderCellDef>Categories</th>
                                <td mat-cell *matCellDef="let row">{{row.Category.name}}</td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th matSort mat-header-cell *matHeaderCellDef>Montant</th>
                                <td mat-cell *matCellDef="let row">{{row.amount | currency:'MGA':' '}}</td>
                            </ng-container>

                            <ng-container matColumnDef="balance">
                                <th matSort mat-header-cell *matHeaderCellDef>Montant dû</th>
                                <td mat-cell *matCellDef="let row">{{row.balance | currency: 'MGA': ''}}</td>
                            </ng-container>

                            <ng-container matColumnDef="due_at">
                                <th matSort mat-header-cell *matHeaderCellDef>Data d'echéance</th>
                                <td mat-cell *matCellDef="let row">{{row.due_at | date}}</td>
                            </ng-container>

                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                            <ng-container *matNoDataRow>
                                <tr>
                                    <td colspan="{{ displayedColumns.length }}">Aucun enregistrement</td>
                                </tr>
                            </ng-container>
                        </table>
                    </div>
                    <mat-paginator [length]="resultsLength" [pageSize]="25"></mat-paginator>

                </div>
            </mat-tab>
            <mat-tab label="BROUILLONS">
                <table mat-table [dataSource]="dataDraft" class="mat-elevation-z8">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> N°</th>
                        <td mat-cell *matCellDef="let element" (click)="navigateToDetail(element.id)" class="cursor-pointer text-blue-400">{{element.id}}</td>
                    </ng-container>

                    <ng-container matColumnDef="contact">
                        <th mat-header-cell *matHeaderCellDef> Contact</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.Vendor ? element.Vendor.name : (element.Contact ? element.Contact.name : '') }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef> Description</th>
                        <td mat-cell *matCellDef="let element">{{element?.notes}}</td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Montant</th>
                        <td mat-cell *matCellDef="let element">{{element.amount | currency: 'MGA': ''}}</td>
                    </ng-container>

                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef> Crée </th>
                        <td mat-cell *matCellDef="let element">{{element.created_at | date}}</td>
                    </ng-container>

                    <ng-container matColumnDef="due_at">
                        <th mat-header-cell *matHeaderCellDef> Date d'echéance</th>
                        <td mat-cell *matCellDef="let element">{{element.due_at | date}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedDraftColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedDraftColumns;"></tr>
                </table>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
