.full-width-dialog  {
    max-width: 100vw !important;
    width: 100vw !important;
}
.mat-mdc-dialog-container .mdc-dialog__surface {
    box-shadow: none !important;
}
.but-sub{
    bottom: 5px;
    right: 10px;
}
.ic {
    font-size: 30px;
    height: 40px;
    width: 40px;
}
.cover-item{
    padding: 20px;
}
