<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <mat-card class="pr-8 relative">
            <form [formGroup]="billForm">
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Facture">
                        <div class=" grid grid-rows-3 grid-flow-col gap-3 grid-cols-3 mt-6">
                            <div class="grid grid-cols-3 items-center">
                                <label class="text-right mr-4 font-normal text-gray-500">Fournisseur</label>
                                <div class="col-start-2 col-span-2">
                                    <app-typeahead-vendor formControlName="vendor"
                                                          (bindDataVendor)="getDataVendor($event)"
                                                          [min]="3"
                                    >
                                    </app-typeahead-vendor>
                                </div>
                            </div>

                            <div class="grid grid-cols-3 items-center">
                                <label class="text-right mr-4 font-normal text-gray-500">Client</label>
                                <div class="col-start-2 col-span-2">
                                    <app-typeahead-contact formControlName="contact"
                                                           (bindDataContact)="getDataContact($event)"
                                                           [min]="3"
                                    ></app-typeahead-contact>
                                </div>
                            </div>

                            <div class="grid grid-cols-3 items-center">
                                <label class="text-right mr-4 font-normal text-gray-500">Catégories</label>
                                <div class="col-start-2 col-span-2">
                                    <app-select-category-type formControlName="category"
                                                              (bindDataCategory)="getDataCategory($event)">

                                    </app-select-category-type>
                                </div>
                            </div>

                            <div class="grid grid-cols-3 items-center">
                                <label class="text-right mr-4 font-normal text-gray-500">Tel.</label>
                                <div class="col-start-2 col-span-2">
                                    {{vendorPhone}}
                                </div>
                            </div>

                            <div class="grid grid-cols-3 items-center">
                                <label class="text-right mr-4 font-normal text-gray-500">Tel.</label>
                                <div class="col-start-2 col-span-2">
                                    {{contactPhone}}
                                </div>
                            </div>

                            <div></div>

                            <div class="grid grid-cols-3 items-center">
                                <label class="text-right mr-4 font-normal text-gray-500">N° Facture</label>
                                <mat-form-field class="example-full-width col-start-2 col-span-2">
                                    <input type="text" value="{{bill_number}}" disabled matInput>
                                </mat-form-field>
                            </div>

                            <div class="grid grid-cols-3 items-center">
                                <label class="text-right mr-4 font-normal text-gray-500">Facturé le</label>
                                <mat-form-field class="example-full-width col-start-2 col-span-2">
                                    <input matInput disabled value="{{billed_at | date}}">
                                </mat-form-field>
                            </div>

                            <div class="grid grid-cols-3 items-center">
                                <label class="text-right mr-4 font-normal text-gray-500">Date d'échéance</label>
                                <mat-form-field class="example-full-width col-start-2 col-span-2">
                                    <input matInput [matDatepicker]="dueAt" formControlName="due_at">
                                    <mat-datepicker-toggle matIconSuffix [for]="dueAt"></mat-datepicker-toggle>
                                    <mat-datepicker #dueAt></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-card-actions class="justify-end mr-2">
                            <button type="submit" [disabled]="!billForm.valid" class="mat-elevation-z0 mt-1.5"
                                    mat-mini-fab color="primary">
                                <mat-icon>save</mat-icon>
                            </button>
                        </mat-card-actions>

                        <hr>

                        <mat-card-subtitle class="text-lg mb-4">Produits/ services</mat-card-subtitle>
                        <div formArrayName="BillItems">
                            <table class="w-full">
                                <thead class="bg-slate-200">
                                <tr class="font-weight-bold bg-light">
                                    <th style="width:7%;" class="text-center">
                                        <mat-icon aria-hidden="false" fontIcon="tune" ></mat-icon>
                                    </th>
                                    <th>Nom</th>
                                    <th class="width-10 text-center">Unité</th>
                                    <th class="width-10 text-center">Quantité</th>
                                    <th class="width-15 text-center">Prix unitaire</th>
                                    <th class="width-20 text-center">Taxes</th>
                                    <th class="width-10 text-right pr-2.5">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of BillItems.controls; let i=index" [formGroupName]="i">
                                    <td class="flex justify-center">
                                        <button mat-icon-button  (click)="removeItem(i, item.controls.id.value)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                        <input type="hidden" name="item_id" formControlName="item_id">
                                        <input type="hidden" name="sku" formControlName="sku">
                                    </td>
                                    <td>
                                        <span class="pointer px-2 text-nowrap text-dark text-center" data-toggle="collapse"
                                              title="Voir description"
                                              [attr.data-target]="'#collapse-' + i">
                                            {{ item.controls.name?.value }}
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <input disabled formControlName="unit_id" class="text-center">

                                    </td>

                                    <td class="text-center">
                                        <input type="number" formControlName="quantity" class="text-center" [min]="1">
                                    </td>

                                    <td class="text-center">
                                        <input type="number" class="text-center form" formControlName="price" [min]="1">
                                    </td>

                                    <td>
                                        <input formControlName="Taxes" class="text-center" placeholder="Aucune">
                                    </td>

                                    <td>
                                        <input disabled formControlName="total" class="text-right">
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="demo-button-container mt-4">
                                <button mat-flat-button (click)="openModal()" class="hover-underline mb-5">
                                    Ajout
                                </button>
                            </div>
                            <div class="action">
                                <button mat-flat-button (click)="print()" class="bg-slate-600 border-5 mr-2">
                                    <mat-icon class="color-white">print</mat-icon>
                                </button>
                                <button class="other-action" mat-button [matMenuTriggerFor]="menu">
<!--                                    <mat-icon aria-hidden="false" fontIcon="arrow_drop_down"></mat-icon>-->
                                    Autres actions
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="settingsDrawer.toggle(); sharedDataFacture()">Ajouter paiement</button>
                                    <button mat-menu-item>Facture groupée</button>
                                    <button mat-menu-item (click)="updateStatus()">Marquer reçu</button>
                                    <button mat-menu-item (click)="openDialog('0ms', '0ms')">Annuler</button>
                                </mat-menu>
                            </div>
                        </div>

                    </mat-tab>
                    <mat-tab label="Paiments">
                        <table mat-table [dataSource]="Payments" class="mat-elevation-z8">

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-icon aria-hidden="false" fontIcon="menu"></mat-icon>
                                </th>
                                <td mat-cell *matCellDef="let element" class="cursor-pointer text-blue-400">
                                    <button mat-icon-button (click)="settingsDrawer.toggle(); refund()">
                                        <mat-icon>restart_alt</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef>ID</th>
                                <td mat-cell *matCellDef="let element">{{element.id}}</td>
                            </ng-container>

                            <ng-container matColumnDef="paid_at">
                                <th mat-header-cell *matHeaderCellDef>Date de pmnt.</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.paid_at | date}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef> Description</th>
                                <td mat-cell *matCellDef="let element">{{element.description}}</td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef> Montant</th>
                                <td mat-cell *matCellDef="let element">{{element.amount}}</td>
                            </ng-container>

                            <ng-container matColumnDef="payment_method">
                                <th mat-header-cell *matHeaderCellDef>Moyen de pmnt.</th>
                                <td mat-cell *matCellDef="let element">{{element.payment_method}}</td>
                            </ng-container>

                            <ng-container matColumnDef="account_id">
                                <th mat-header-cell *matHeaderCellDef>Compte</th>
                                <td mat-cell *matCellDef="let element">{{element.account_id}}</td>
                            </ng-container>

                            <ng-container matColumnDef="user">
                                <th mat-header-cell *matHeaderCellDef>Créer</th>
                                <td mat-cell *matCellDef="let element">{{element.User.name}}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedPaymentColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedPaymentColumns;"></tr>
                        </table>
                    </mat-tab>
                    <mat-tab label="Historique">
                        <app-list-history
                            [dataId]="billId"
                            [dataTable]="billHistories"
                            [dataType]="'BILL'"
                            (onSubmit)="reset()"
                        >
                        </app-list-history>
                    </mat-tab>
                    <mat-tab label="Document">
                        <app-file-attachment *ngIf="bill" [route]="'bills'" [id]="id"
                                             (onSuccess)="resetForm()"
                                             [attachments]="bill.attachments"
                                             (onDelete)="deleteAttachment($event)"
                        >
                        </app-file-attachment>
                    </mat-tab>
                </mat-tab-group>
            </form>
            <div class="status absolute bg-{{utilityService.statusStyle(bill?.status).background}}-500 px-2 py-2">
<!--            with language    {{'status.' + bill?.status}}-->
                <span class="text-slate-200">{{ bill?.status }}</span>
            </div>
        </mat-card>
    </div>
</div>

<fuse-drawer
    class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999"
    fixed
    [mode]="'over'"
    [name]="'settingsDrawer'"
    [position]="'right'"
    #settingsDrawer>
        <div class="flex flex-col w-full overflow-auto bg-card">
            <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
                <mat-icon
                    class="icon-size-7 text-current"
                    [svgIcon]="'heroicons_solid:cog-8-tooth'"></mat-icon>
                <div class="ml-3 text-2xl font-semibold tracking-tight">Ajouter</div>
                <button
                    class="ml-auto"
                    mat-icon-button
                    (click)="settingsDrawer.close()">
                    <mat-icon
                        class="text-current"
                        [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                </button>
            </div>
            <form [formGroup]="paymentFormGroup" (ngSubmit)="addPayment()">
                <div class="px-3 py-5 flex justify-center flex-col mt-5 px-10">
                    <mat-form-field >
                        <mat-label>Date</mat-label>
                        <input matInput formControlName="paid_at" [matDatepicker]="picker" placeholder="Entrer une date">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="example-full-width mt-5">
                        <mat-label>Montant</mat-label>
                        <input formControlName="amount" matInput placeholder="Montant" type="number">
                    </mat-form-field>

                    <mat-form-field class="mt-5">
                        <mat-label>Compte</mat-label>
                        <mat-select formControlName="account_id">
                            <mat-option *ngFor="let item of accountItem" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="mt-5">
                        <mat-label>Mode de paiement</mat-label>
                        <mat-select formControlName="payment_method">
                            <mat-option *ngFor="let item of paymentsMethode" [value]="item.name">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width mt-5">
                        <mat-label>Description</mat-label>
                        <textarea formControlName="description" matInput placeholder="Description..."></textarea>
                    </mat-form-field>

                    <button type="submit" mat-raised-button color="primary" class="mt-10">Enregister</button>
                </div>
            </form>
        </div>
</fuse-drawer>
